/* * {
    border: 2px dotted red;
} */
h1 {
    font-size: 70px;
    color: deepskyblue;
    text-align: center;
    margin: 40px;
}
h2 {
    font-size: 22px;
    color: maroon;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

section {
    width:990px;
    margin: 0px auto;
}

ul {
    margin: 100px 0px 0px 0px;
}

li {
    display: inline-block;
    margin: 30px;
    color: red;
}

img{
    width:250px;
    height: 250px;
}

canvas {
    width: 100%;
    margin: 50px;
    padding: 50px;
    top:50%;
    left:50%;
}

.chart-container {
    margin: 50px 0px 0px 170px;
    /* top:50%;
    left:50%; */
}
