section {
    width:990px;
    margin: 0px auto;
}

ul {
    margin: 200px 0px 0px 0px;
}

li {
    display: inline-block;
    margin: 30px;
    color: red;
}

img{
    width:250px;
    height: 250px;
}

canvas {
    width: 500px;
    margin: 0 auto;
}
