section {
    width:990px;
    margin: 0px auto;
}

ul {
    margin: 200px 0px 0px 0px;
}

li {
    display: inline-block;
    margin: 30px;
    color: red;
}

img{
    width:250px;
    height: 250px;
}

div {
    width: 500px;
    height: 800px;
    margin: 20px 0px 0px 50px;
    outline: dotted 5px red;
    color: black;
}
